email_classifier.json
{
  "name": "email_classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        208
      ],
      "id": "dbba16d1-600c-4661-afaf-b16b2345cb18",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUHAabgalivu0RMy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Job Applications",
              "description": "Includes all job-related communications: application updates, interview invitations, rejections, and job offer letters."
            },
            {
              "category": "Scholarships (Academic)",
              "description": "Includes all scholarship-related communications: application updates, interviews, nominations, waitlists, and final scholarship offer letters."
            },
            {
              "category": "Others",
              "description": "For any documents or messages that do not fall under job or scholarship applications"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -512,
        208
      ],
      "id": "d5096393-3e93-4397-9bda-5f7670374eb9",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        416
      ],
      "id": "31099897-67b0-4a8b-96f4-95fffdd9f90f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SuGrevbVDpRCxMJS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8701051501519091711"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "13886085-f49c-48a2-b3b4-858d636c2d9a",
      "name": "Add label to message",
      "webhookId": "35816b67-c964-4cf5-87df-39497d1e849e",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUHAabgalivu0RMy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2115922346108373658"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "id": "5eb43dd4-1105-48f2-8537-8962464f60c1",
      "name": "Add label to message1",
      "webhookId": "d8481763-eab6-4819-ba93-91c6416d1fa1",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUHAabgalivu0RMy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2015993182768288832"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -160,
        320
      ],
      "id": "256f2e2c-e19a-462a-8ce7-d0cdea285fdc",
      "name": "Add label to message2",
      "webhookId": "9e570bc4-acf2-4f3d-858f-2c2957e7883f",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUHAabgalivu0RMy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6f004462-cd40-40e1-a900-b5dcee45ecc6",
  "meta": {
    "instanceId": "3ec15d9397b5622d0005615acdbb0488821f608d168b1add5c430701b4fd00d7"
  },
  "id": "Y1UD1w1xRo7uLsWxhrGPz",
  "tags": []
}